configuration {
  modes: [ drun];
  combi-modes: [ drun ];
	drun{
		display-name: "query:";
	}	
	filebrowser {
		display-name: "find";
	}
}

@theme "dmenu"
 
/* Insert theme modifications after this */


window {
    anchor:     south;
    location:   south;
    width:      100%;
    padding:    4px;
}

* {
font: "HackNerdFont 16"; 
background-color: #101010;
text-color: #c79dbf;
}

element selected {
 background-color: #a5c99d;
    text-color: #101010;
}

